.App {
  text-align: center;
}

.App-header {
  background: rgb(8,11,18);
  background: linear-gradient(180deg, rgba(8,11,18,1) 0%, rgba(1,8,125,1) 39%, rgba(0,255,255,1) 100%);
  min-height: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-style {
  margin-top: 8;
  font-size: 64;
}